	#game-canvas {
		width:768px;
		height:576px;		
		background-color:#efefef;
		image-rendering: -moz-crisp-edges;
		image-rendering: -webkit-crisp-edges;
		image-rendering: pixelated;
		
		background-size:contain;
		
		margin: auto;
	}

	.center {
		margin:auto;
		text-align:center;
	}

	p { 
		user-select: none;
	}
	#game-div {
		margin:auto;
	}